function PaintTools.editSize 1
call Cursor.getPosition 0
pop local 0
push static 0
push constant 30
eq
push argument 0
and
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push static 0
push constant 1
eq
push argument 0
and
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
call DrawUI.cleanCursor 1
pop temp 0
push local 0
call DrawUI.loadPixelUnderCursor 1
pop temp 0
push static 0
push argument 0
add
pop static 0
call Cursor.savePixelUnderCursor 0
pop temp 0
push local 0
call DrawUI.drawCursor 1
pop temp 0
push constant 0
return
function PaintTools.init 0
push constant 1
pop static 0
push constant 0
not
pop static 2
push constant 2
pop static 1
push constant 0
return
function PaintTools.tryDraw 1
push static 1
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Cursor.getPosition 0
pop local 0
push local 0
push static 2
push static 0
call Pen.draw 3
pop temp 0
push local 0
call DrawUI.drawCursor 1
pop temp 0
label IF_FALSE0
push constant 0
return
function PaintTools.tryRelize 2
call Cursor.getPosition 0
pop local 0
call Cursor.getPrevPosition 0
pop local 1
push static 1
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 0
push static 2
push constant 0
call Square.draw 4
pop temp 0
label IF_FALSE0
push static 1
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push local 0
push static 2
push constant 0
not
call Square.draw 4
pop temp 0
label IF_FALSE1
push static 1
push constant 5
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push local 0
push static 2
call Line.draw 3
pop temp 0
label IF_FALSE2
push static 1
push constant 6
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push local 0
push static 2
push constant 0
call Circle.draw 4
pop temp 0
label IF_FALSE3
push static 1
push constant 7
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 1
push local 0
push static 2
push constant 0
not
call Circle.draw 4
pop temp 0
label IF_FALSE4
push constant 0
return
function PaintTools.getSize 0
push static 0
return
function PaintTools.getInstrument 0
push static 1
return
function PaintTools.getColor 0
push static 2
return
function PaintTools.changeColor 0
push static 2
not
pop static 2
push constant 0
return
function PaintTools.setInstrument 0
push argument 0
pop static 1
push constant 0
return
