function Cursor.init 0
push constant 1
neg
push constant 1
neg
call Vector.new 2
pop static 1
push constant 16
push constant 16
call Vector.new 2
pop static 0
push constant 0
pop static 2
push static 0
call DrawUI.drawCursor 1
pop temp 0
push constant 0
return
function Cursor.moveDirection 0
push static 0
call DrawUI.cleanCursor 1
pop temp 0
push static 0
push argument 0
call Vector.add 2
pop static 0
push static 0
call DrawUI.updatePosition 1
pop temp 0
push static 0
call DrawUI.drawCursor 1
pop temp 0
push argument 0
call Vector.dispose 1
pop temp 0
push constant 0
return
function Cursor.savePosition 0
push static 0
pop static 1
push constant 0
not
pop static 2
push constant 0
return
function Cursor.prevIsNone 0
push static 2
return
function Cursor.getPositionX 0
push static 0
call Vector.getX 1
return
function Cursor.getPositionY 0
push static 0
call Vector.getY 1
return
function Cursor.getPosition 0
push static 0
return
